html {
    font-size: 100%;
}
body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.attribution { 
    font-size: 11px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.border {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border: solid white;
    width: 300px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0px 0px 80px -20px rgba(0,0,0,0.75);
}
.image-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.image-wrapper img {
    width: 265px;
    height: 265px;
    border-radius: 10px;
}
h3 {
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
}
p {
    color: hsl(216, 15%, 48%);
    font-size: 0.9370rem;
}